.layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: #ffc0ad;
}

.side {
  align-content: center;
  padding: 2rem 0rem;
}

.posts {
  align-content: center;
  width: 60vw;
  padding: 2rem 0rem 0rem 2rem;
}

/* .top {
  justify-content: right;
  width: 80vw;
  margin-right: 10px;
} */

@media screen and (max-width: 1400px) {
  .layout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .posts {
    width: auto;
    padding: 0rem;
  }
}
