.myposts {
  text-align: left;
  border: 5px solid #271c19;
  border-radius: 25px;
  min-width: 350px;
}

.myquestions {
  text-align: left;
  min-width: 350px;
}

h3 {
  text-decoration: underline;
}

.topics {
  text-decoration: underline;
  font-size: 20px;
}

.questions {
  text-decoration: underline;
  font-size: 15px;
}
