.myposts {
  text-align: left;
  border: 5px solid #55423d;
  border-radius: 25px;
  min-width: 350px;
}

.myquestions {
  text-align: left;
  min-width: 350px;
}

.posts-header {
  font-weight: bold;
  text-decoration: underline;
  color: #271c19;
}

.topics {
  text-decoration: underline;
  font-size: 20px;
}

.questions {
  text-decoration: underline;
  font-size: 15px;
}
