.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  border: 5px solid #271c19;
  padding: 10px;
  border-radius: 25px;
}

.username,
.email {
  color: #000000;
  font-size: 15px;
}
.title {
  color: #000000;
  font-size: 25px;
}

.content {
  color: #000000;
  font-size: 20px;
}

.photo {
  width: 250px;
  height: 350px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ef9511;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
