.landing {
  text-align: center;
}

.landing-logo {
  height: 90vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .landing-logo {
    animation: landing-logo-spin infinite 20s linear;
  }
}

.landing-header {
  background-image: url("../../assets/jungaroo.png");
  background-position: center;
  background-size: contain 50vh;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.findbtn {
  background-color: #ef9511;
}
